<!DOCTYPE html>	
<html>
<head>
	<!--Import jQuery before materialize.js-->
	<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
	  <!--Import Google Icon Font-->
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<!-- Compiled and minified CSS -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
	<link href="/css/railroad.css" rel="stylesheet">
	<!-- Compiled and minified JavaScript -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
	{{!-- 
		<script type="text/javascript" src="js/materialize.min.js"></script>

		<link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/>	
	--}}
</head>
<body>

	<nav>
	  <div class="nav-wrapper">
	    <a href="#" class="brand-logo">USTrain</a>
	      	<ul id="nav-mobile" class="right hide-on-med-and-down">
		        <li><a href="#">Link 3</a></li>
		        <li><a href="#">Link 2</a></li>
		        <li><a href="#">Link 1</a></li>
	    	</ul>
	    </div>
	</nav>

	{{{body}}}

</body>
</html>