<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <title>Cancellation Inforamtion</title>
</head>
<body>
    <? if(locals.info) { ?>
        <?= info ?>
    <? } ?>
    <br>
    <br>
    <b>Links</b>
    <br>
    <a href='/'>Make a new reservation</a><br>
    <a href='/review_reservation'>Review a reservation</a>
</body>