<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
    <h1>Hello World</h1>
    <hr>
    <? if(locals.example_data !== undefined){ ?>
        <p><b>Some example string sent from root router: </b><?= example_data ?>
    <? } ?>
    <hr>
</body>
