<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <script src='axios.min.js'></script>
</head>
<body>
    <style>
        #first_name,#last_name,#email {
            text-transform:lowercase;
        }
    </style>
    <div class="container">
        <div class="row">
            <div class="section"></div>
            <div class="section"></div>
            <div class="col s6 offset-s3" >
                <div class="card-panel" >
                    <h4 class="card-title center">Reservation Look Up</h4>
                    <hr>
                    <form class="reservation_search" name="reservation_search" action="/reservation/lookUp" method="post" >
                    {{!-- <form> --}}
                        <div class="row">
                            <div class="input-field col s6">
                                <input id="first_name" type="text"  onkeyup="return forceLower(this);" name="first_name" class="validate" required>
                                <label for="first_name">First Name</label>
                            </div>
                            <div class="input-field col s6">
                                <input id="last_name" type="text"  onkeyup="return forceLower(this);" name="last_name" class="validate" required>
                                <label for="last_name">Last Name</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s12">
                                <input id="email" type="email"  onkeyup="return forceLower(this);" name="email"class="validate" required>
                                <label for="email">Email</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s12">
                                <input type="text" name="reservation_id" id ="reservation_id" {{!--  maxlength="16" minlength="16" --}}  required>
                                <label for="reservation_id">Reservation Id</label>
                            </div>
                        </div>
                        <center>
                            <button class="btn waves-effect waves-light amber darken-1" type="submit" id="_submit">Look Up</button>
                        </center>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <script>
    function forceLower(strInput) {
        strInput.value=strInput.value.toLowerCase();
    }
    </script>
</body>
