<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <script src='axios.min.js'></script>
</head>
<body>

    <div class="container">
        <div class="row relative col s10">
            <div class="card-panel" >
                <h4 class="card-title">Search Trips</h4>
                <br>
                
                    <form>
                        <div class="row">
                            <div class="col s12">
                                Departure date: 
                                <div class="input-field inline">
                                    <input id='_date' type='date' required>
                                </div>
                            </div>
                        </div>
                        <br>

                        <div class="row">
                            <div class="col s12">
                                Departure time: 
                                <div class="input-field inline">
                                    <select id='_time' required>
                                        <option value="any">Any Time</option>
                                        <option value="morning">Morning</option>
                                        <option value="afternoon">Afternoon</option>
                                        <option value="evening">Evening</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <br>

                        <div class="row">
                            <div class="col s12">
                                Departure station: 
                                <div class="input-field inline">
                                    <select id='_from_station' required>
                                        {{#each stations}}
                                            <option value="{{this.id}}">{{this.name}}</option>
                                        {{/each}}
                                    </select>
                                </div>
                            </div>
                        </div>
                        <br>

                        <div class="row">
                            <div class="col s12">
                                Arrival station: 
                                <div class="input-field inline">
                                    <select id='_to_station' required>
                                        {{#each stations}}
                                            <option value="{{this.id}}">{{this.name}}</option>
                                        {{/each}}
                                    </select>
                                </div>
                            </div>
                        </div>
                        <br>
                        <center>
                            <button class="btn waves-effect waves-light" type="submit" id="_submit">Show Availabilities
                                <i class="material-icons right">send</i>
                            </button>
                        </center>
                    </form>
                
            </div>
        </div>
    </div>
    <div id='_information'></div>
    <ul id='_trains'>
    </ul>
    <script>
        let _date = document.getElementById('_date');
        let _time = document.getElementById('_time');
        let _from_station = document.getElementById('_from_station');
        let _to_station = document.getElementById('_to_station');
        let _submit = document.getElementById('_submit');
        let _information = document.getElementById('_information');
        let _trains = document.getElementById('_trains');

        _submit.addEventListener('click', (event) =>
        {
            event.preventDefault();
            if(_date.value.length > 0)
            {
                _information.innerHTML = '';
                axios.post
                (
                    '/availability_data',
                    {
                        date : _date.value,
                        time : _time.options[_time.selectedIndex].value,
                        from_station : _from_station[_from_station.selectedIndex].value,
                        to_station : _to_station[_to_station.selectedIndex].value
                    }
                )
                .then((response) =>
                {
                    let inner = '';
                    for(let i = 0; i < response.data.length; ++i)
                    {
                        inner +=
                            '<li>'
                                + '<b>Train: </b>' + response.data[i].train_id
                                + '<br><b>Arrival time: </b>' + response.data[i].arrival_time
                                // + '<br><b>Departure time: </b>' + response.data[i].departure_time +
                            '</li>\n';
                    }
                    _trains.innerHTML = inner;
                })
                .catch((err) =>
                {
                    console.log('Error:\n', err);
                });
            }
            else
            {
                _information.innerHTML = 'Please fill out all the information';
            }
        });

          $(document).ready(function() {
            $('select').material_select();
          });
    </script>
</body>
