<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <script src='axios.min.js'></script>
</head>
<body>



    <div class="container">
        <div class="row">
            <div class="section"></div>
            <div class="section"></div>
            <div class="col s5">
                <div class="card-panel" >
                    <h4 class="card-title center">Search Trips</h4>
                    <hr>
                    <form>
                        <div class="row">
                            <div class="col s12 center">
                                Departure date: 
                                <div class="input-field inline">
                                    <input id='_date' type='date' onchange="myCick()" required>
                                </div>
                            </div>
                        </div>
                        <br>

                        <div class="row">
                            <div class="col s12 center">
                                Departure time: 
                                <div class="input-field inline">
                                    <select id='_time' onchange="myCick()" required>
                                        <option value="any">Any Time</option>
                                        <option value="morning">Morning</option>
                                        <option value="afternoon">Afternoon</option>
                                        <option value="evening">Evening</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <br>

                        <div class="row">
                            <div class="col s12">
                                Departure station: 
                                <div class="input-field ">
                                    <select id='_from_station' onchange="myCick()" required>
                                        {{#each stations}}
                                            <option value="{{this.id}}">{{this.name}}</option>
                                        {{/each}}
                                    </select>
                                </div>
                            </div>
                        </div>
                        <br>

                        <div class="row">
                            <div class="col s12">
                                Arrival station: 
                                <div class="input-field ">
                                    <select id='_to_station' onchange="myCick()" required>
                                        {{#each stations}}
                                            <option value="{{this.id}}">{{this.name}}</option>
                                        {{/each}}
                                    </select>
                                </div>
                            </div>
                        </div>
                        <br>
                        <center hidden="true">
                            <button class="btn waves-effect waves-light" type="submit" id="_submit">Show Availabilities
                                <i class="material-icons right">send</i>
                            </button>
                        </center>
                    </form>
                </div>
            </div>
            <div class="col s5 offset-s2">
                <div class="card-panel" >
                    <table id = '_trains' class="striped"></table>
                </div>
            </div>
        </div>
        <div class="container" >
            <div id="card-alert" class="card red lighten-5" hidden="true">
                <div class="card-content red-text">
                    <p><center>Please fill out all the information</center></p>
                </div>
            </div>
        </div>
    </div>
    {{!-- <div id='_information'></div>
    <ul id='_trains'>
    </ul> --}}
    <script>
        var today = new Date();
        var dd = today.getDate();
        var mm = today.getMonth()+1;
        var yyyy = today.getFullYear();
        if(dd<10){
            dd='0'+dd
        } 
        if(mm<10){
            mm='0'+mm
        } 
        today = yyyy +'-'+mm+'-'+dd;
        $('#_date').attr("value",today);

        let _date = document.getElementById('_date');
        let _time = document.getElementById('_time');
        let _from_station = document.getElementById('_from_station');
        let _to_station = document.getElementById('_to_station');
        let _submit = document.getElementById('_submit');
        let _information = document.getElementById('_information');
        let _trains = document.getElementById('_trains');

        _submit.addEventListener('click', (event) =>
        {
            event.preventDefault();
            if(_date.value.length > 0)
            {
                //_information.innerHTML = '';
                axios.post
                (
                    '/availability_data',
                    {
                        date : _date.value,
                        time : _time.options[_time.selectedIndex].value,
                        from_station : _from_station[_from_station.selectedIndex].value,
                        to_station : _to_station[_to_station.selectedIndex].value
                    }
                )
                .then((response) =>
                {
                    let inner =
                                '<thead>'
                                    +'<tr>'
                                        +'<th>Train</th>'
                                        +'<th>Arrival time</th>'
                                        //+'<th>Departure time</th>'
                                    +'</tr>'
                                +'</thead>'
                                +'<tbody>'
                    for(let i = 0; i < response.data.length; ++i)
                    {
                        inner +=          
                                    '<tr>'
                                        +'<td>'+response.data[i].train_id+'</td>'
                                        +'<td>'+response.data[i].arrival_time+'</td>'
                                        //+'<td>'+response.data[i].departure_time+'</td>'
                                        +'<td><a class="waves-effect waves-light btn">Book</a></td>'
                                    +'</tr>';
                            /*
                            '<li>'
                                + '<b>Train: </b>' + response.data[i].train_id
                                + '<br><b>Arrival time: </b>' + response.data[i].arrival_time
                                // + '<br><b>Departure time: </b>' + response.data[i].departure_time +
                            '</li>\n';
                            */
                    }
                    inner +=    
                                '</tbody>';

                    _trains.innerHTML = inner;
                    $('#card-alert').attr("hidden", "true");
                })
                .catch((err) =>
                {
                    console.log('Error:\n', err);
                });
            }
            else
            {
                $('#card-alert').removeAttr('hidden');
                //_information.innerHTML = 'Please fill out all the information';
            }
        });

        $(document).ready(function() {
            $('select').material_select();
            $( "#_submit" ).click();
        });


        function myCick(){
            $( "#_submit" ).click();
        }
    </script>
</body>