<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <script src='axios.min.js'></script>
</head>
<body>
    <form>
    Departure date: <input id='_date' type='date' required>
    <br>
    Departure time: <select id='_time' required>
        <option value="any">Any Time</option>
        <option value="morning">Morning</option>
        <option value="afternoon">Afternoon</option>
        <option value="evening">Evening</option>
    </select>
    <br>
    Departure station: <select id='_from_station' required>
    <? for(let i = 0; i < stations.length; ++i) { ?>
        <option value='<?= i+1 ?>'><?= stations[i].name ?></option>
    <? } ?>
    </select>
    <br>
    Arrival station: <select id='_to_station' required>
    <? for(let i = stations.length-1; i >= 0; --i) { ?>
        <option value='<?= i+1 ?>'><?= stations[i].name ?></option>
    <? } ?>
    </select>
    <br>
    <button id='_submit' type='submit'>Show Availabilities</button>
    </form>
    <div id='_information'></div>
    <ul id='_trains'>

    </ul>
    <script>
        let _date = document.getElementById('_date');
        let _time = document.getElementById('_time');
        let _from_station = document.getElementById('_from_station');
        let _to_station = document.getElementById('_to_station');
        let _submit = document.getElementById('_submit');
        let _information = document.getElementById('_information');
        let _trains = document.getElementById('_trains');

        _submit.addEventListener('click', (event) =>
        {
            event.preventDefault();
            if(_date.value.length > 0)
            {
                _information.innerHTML = '';
                axios.post
                (
                    '/availability_data',
                    {
                        date : _date.value,
                        time : _time.options[_time.selectedIndex].value,
                        from_station : _from_station[_from_station.selectedIndex].value,
                        to_station : _to_station[_to_station.selectedIndex].value
                    }
                )
                .then((response) =>
                {
                    let inner = '';
                    for(let i = 0; i < response.data.length; ++i)
                    {
                        inner +=
                            '<li>'
                                + '<b>Train: </b>' + response.data[i].train_id
                                + '<br><b>Arrival time: </b>' + response.data[i].arrival_time
                                // + '<br><b>Departure time: </b>' + response.data[i].departure_time +
                            '</li>\n';
                    }
                    _trains.innerHTML = inner;
                })
                .catch((err) =>
                {
                    console.log('Error:\n', err);
                });
            }
            else
            {
                _information.innerHTML = 'Please fill out all the information';
            }
        });
    </script>
</body>
