<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <script src='axios.min.js'></script>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="section"></div>
            <div class="section"></div>
            <div class="col s5">
                <div class="card-panel" >
                    <h4 class="card-title center">Search Trips</h4>
                    <hr>
                    <form>
                        <div class="row">
                            <div class="col s12 center">
                                Departure date: 
                                <div class="input-field inline">
                                    <input id='_date' type='date' onchange="myCick()" required>
                                </div>
                            </div>
                        </div>

                        <br>

                        <div class="row">
                            <div class="col s12 center">
                                Departure time: 
                                <div class="input-field inline">
                                    <select id='_time' onchange="myCick()" required>
                                        <option value="any">Any Time</option>
                                        <option value="morning">Morning (4am-noon)</option>
                                        <option value="afternoon">Afternoon (noon - 8pm)</option>
                                        <option value="evening">Evening (8pm-4am)</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <br>

                        <div class="row">
                            <div class="col s12">
                                Departure station: 
                                <div class="input-field ">
                                    <select id='_from_station' onchange="myCick()" required>
                                            <option value="0" selected="true" disabled="true">Please select a station</option>
                                        {{#each stations}}
                                            <option value="{{this.id}}">{{this.name}}</option>
                                        {{/each}}
                                    </select>
                                </div>
                            </div>
                        </div>
                        <br>

                        <div class="row">
                            <div class="col s12">
                                Arrival station: 
                                <div class="input-field ">
                                    <select id='_to_station' onchange="myCick()" required>
                                        <option value="0" selected="true" disabled="true">Please select a station</option>
                                        {{#each stations}}
                                            <option value="{{this.id}}">{{this.name}}</option>
                                        {{/each}}
                                    </select>
                                </div>
                            </div>
                        </div>
                        <br>
                        <center hidden="true">
                            <button class="btn waves-effect waves-light amber darken-1 " type="submit" id="_submit">Show Availabilities
                                <i class="material-icons right">send</i>
                            </button>
                        </center>
                    </form>
                </div>
            </div>
            <div class="col s5 offset-s2">
                <div class="card-panel" >
                    <table id = '_trains' class="striped"></table>
                    <div class="container" >
                        <div id="card-alert-date" class="card red lighten-5" hidden="true">
                            <div class="card-content red-text">
                                <p><center>Invalid Date</center></p>
                            </div>
                        </div>
                    </div>
                    <div class="container" >
                        <div id="card-alert-station" class="card red lighten-5" hidden="true">
                            <div class="card-content red-text">
                                <p><center>Please select your stations</center></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container" >
            <div id="card-alert-information" class="card red lighten-5" hidden="true">
                <div class="card-content red-text">
                    <p><center>Please fill out all the information</center></p>
                </div>
            </div>
        </div>
    </div>
    {{!-- <div id='_information'></div>
    <ul id='_trains'>
    </ul> --}}
    <script>
        var today = new Date();
        var dd = today.getDate();
        var mm = today.getMonth()+1;
        var yyyy = today.getFullYear();
        var hr = today.getHours();
        var min = today.getMinutes();
        var now = hr+":"+min+":00";
        if(dd<10){
            dd='0'+dd
        } 
        if(mm<10){
            mm='0'+mm
        } 
        today = yyyy +'-'+mm+'-'+dd;
        in_a_year = (yyyy+1) +'-'+mm+'-'+dd;
        $('#_date').attr("value",today);
        $('#_date').attr("min",today);
        $('#_date').attr("max",in_a_year);



        let _date = document.getElementById('_date');
        let _time = document.getElementById('_time');
        let _from_station = document.getElementById('_from_station');
        let _to_station = document.getElementById('_to_station');
        let _submit = document.getElementById('_submit');
        let _information = document.getElementById('_information');
        let _trains = document.getElementById('_trains');

        _submit.addEventListener('click', (event) =>
        {
            event.preventDefault();
            if(_date.value < today || _date.value > in_a_year){
                $('#card-alert-date').removeAttr('hidden');
                $('#card-alert-station').attr("hidden", "true");
                _trains.innerHTML = '<tr></tr>';
            }else if(_from_station.value==0 || _to_station.value == 0){
                $('#card-alert-station').removeAttr('hidden');
                $('#card-alert-date').attr("hidden", "true");
                _trains.innerHTML = '<tr></tr>';
            }else if(_date.value.length > 0){
                $('#card-alert-date').attr("hidden", "true");
                $('#card-alert-station').attr("hidden", "true");
                //_information.innerHTML = '';
                axios.post
                (
                    '/availability_data',
                    {
                        date : _date.value,
                        time : _time.options[_time.selectedIndex].value,
                        from_station : _from_station[_from_station.selectedIndex].value,
                        to_station : _to_station[_to_station.selectedIndex].value
                    }
                )
                .then((response) =>
                {
                    let inner =
                                '<thead>'
                                    +'<tr>'
                                        +'<th>Train</th>'
                                        +'<th>Arrival time</th>'
                                        //+'<th>Departure time</th>'
                                    +'</tr>'
                                +'</thead>'
                                +'<tbody>'
                    for(let i = 0; i < response.data.length; ++i)
                    {
                        inner +=          
                                    '<tr>'
                                        +'<td>'+response.data[i].train_id+'</td>'
                                        +'<td>'+response.data[i].arrival_time+'</td>'
                                        //+'<td>'+response.data[i].departure_time+'</td>'
                                        +'<td><a href="/book'
                                            +'/'+response.data[i].train_id
                                            +'/'+response.data[i].arrival_time
                                            +'/'+_date.value
                                            +'/'+_from_station[_from_station.selectedIndex].value
                                            +'/'+_to_station[_to_station.selectedIndex].value;
                        // console.log("train day:"+_date.value+"      today:"+today +"       Logic:"+(_date.value == today));
                        // console.log("traintime:"+ response.data[i].arrival_time+"        now:"+ now+"           Logic:"+(response.data[i].arrival_time <= now));
                        if(_date.value == today && response.data[i].arrival_time <= now){
                            inner+=
                                            '" class="waves-effect waves-light amber darken-1 btn" disabled="true">Departed</a></td>'
                                    +'</tr>';
                        }          
                        else{
                            inner +=
                                            '" class="waves-effect waves-light amber darken-1 btn">Book</a></td>'
                                    +'</tr>';
                        }                                           

                            /*
                            '<li>'
                                + '<b>Train: </b>' + response.data[i].train_id
                                + '<br><b>Arrival time: </b>' + response.data[i].arrival_time
                                // + '<br><b>Departure time: </b>' + response.data[i].departure_time +
                            '</li>\n';
                            */
                    }
                    inner +=    
                                '</tbody>';

                    _trains.innerHTML = inner;
                    $('#card-alert-information').attr("hidden", "true");
                })
                .catch((err) =>
                {
                    console.log('Error:\n', err);
                });
            }
            else
            {
                $('#card-alert-information').removeAttr('hidden');
                //_information.innerHTML = 'Please fill out all the information';
            }
        });

        $(document).ready(function() {
            $('select').material_select();
            $( "#_submit" ).click();
        });


        function myCick(){
            $( "#_submit" ).click();
        }
    </script>
</body>