<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <script src='axios.min.js'></script>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="section"></div>
            <div class="section"></div>
            <div class="col s6 offset-s3" >
                <div class="card-panel" >
                    <h4 class="card-title">Reservation</h4>
                    <hr>
                    <h5> Trip data</h5>
                </div>
            </div>
        </div>
    </div>

    <script>
    </script>
</body>
