<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <script src='axios.min.js'></script>
</head>
<style>
    #first_name,#last_name,#email {
        text-transform:lowercase;
    }
</style>
<body>
    <div class="container centerPage">
        <div class="row ">
            <div class="col s6 offset-s3 " >
                {{#if successful}}
                    <div class="card-panel center card green lighten-5" >
                        <h3 class="card-title">Reservation Successful</h3>
                        <h5 class="center">{{reservation_id}}<h5>
                        <label> Please keep this reservation ID for future reference.</label>
                        <hr>
                        <a href="/"class="waves-effect waves-light amber darken-2 btn">OK</a>
                    </div>
                {{else}}
                    <div class="card-panel center card red lighten-5">
                        <h3 class="card-title">Reservation Failed</h3>
                        <h5 class="center">Please try again<h5>
                        <hr>
                        <a href="/"class="waves-effect waves-light amber darken-2 btn">OK</a>
                    </div>
                {{/if}}
            </div>
        </div>
    </div>
</body>
